body {
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
}

a {
    position: relative;
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 80px;
    color: hsla(0,0%,100%,.5);
    text-decoration: none
}

li {
    list-style:none;
}


.content-white {
    -webkit-transition: all .3s ease-out;
    height: 1000px;
    background-image: url("../Assets/img/bg2.png");
    /*background-color: #000;*/
}
.myButton {
    background-color: aliceblue;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #ffff0f;
    display: inline-block;
    cursor: pointer;
    color: #262625;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #808080;
}

    .myButton:hover {
        background-color: transparent;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.item {
    color: white;
    float: left;
}

    .item :hover {
        background-color: #151212;
    }




.button {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 0px 1px 0px #2f6627;
    -webkit-box-shadow: 1px 1px 3px 0px #666666;
    -moz-box-shadow: 1px 1px 3px 0px #666666;
    box-shadow: 1px 1px 3px 0px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #44c767;
    padding: 12px 30px 12px 30px;
    border: solid #18ab29 1px;
    text-decoration: none;
}

    .button:hover {
        color: #ffffff;
        background: #5cbf2a;
        text-decoration: none;
    }


.upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    border: 1px solid #999;
    text-decoration: none;
    color: #666;
}

.change {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    opacity: 0;
}

